<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="db720e11-822f-4b46-b2c1-b71dc9133284"
            Publisher="CN=mblome"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>cs_client_app</DisplayName>
    <PublisherDisplayName>mblome</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="cs_client_app.App">
        <VisualElements
            DisplayName="cs_client_app"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="cs_client_app"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>