<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.TripOptimizer.JS" 
            Version="1.0.0.0" 
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  <Properties>
    <DisplayName>Bing Maps Trip Optimizer sample JS</DisplayName>
    <Description>Demonstrates how to combine JavaScript and C++ into one app</Description>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>images\storeLogo-sdk.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Applications>
    <Application Id="TripOptimizer" StartPage="default.html">
      <VisualElements DisplayName="Bing Maps Trip Optimizer JS" Logo="images\squareTile-sdk.png" SmallLogo="images\smallTile-sdk.png" Description="Bing Maps Trip Optimizer sample JS" ForegroundText="light" BackgroundColor="#00b2f0" ToastCapable="false">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen BackgroundColor="#00b2f0" Image="images\splash-sdk.png"/>
          <InitialRotationPreference>
              <Rotation Preference="landscape" />
          </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>